<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='csrf-token' content={{ csrf_token('get-item') }} >
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div id='snake' ></div>
        <div id="notificacion"></div>
        <div id="header"></div>
        {% block body %}{% endblock %}
        <div id="footer"></div>
        <div id="coverLoader"></div>
    </body>
</html>
